body {
	margin: 0;
	padding: 0;
	
	font-weight: 300;
	font-size: 18px;
	line-height: 1em;
	width: 40em;
	margin: 0 auto;
	max-width: 100%;
	border-left: 0px solid #CCC;
	border-right: 0px solid #CCC;
	height: 100%;
	background: #F7F7F7;

}

h1{
	margin-left:60px;
	font-family: "Helvetica Neue";
	font-weight:600;

}

.position{
	padding-bottom:50px;

}

#dateline{
	font-family: "Helvetica Neue";
	font-weight:100;



}

ul {
	list-style-type:none;
	padding-top:20px;
	padding-left:60px;
}
li {
	font-family: "Helvetica Neue";
}
.nav {
	background-color:#2b282f;
	color:#FFF;
	position:absolute;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.3em;
	width: 40em;
	margin: 0 auto;
	max-width: 100%;
	border-left: 0px solid #CCC;
	border-right: 0px solid #CCC;
	height: 72px;
	font-family: "Helvetica Neue";
	font-weight:400;
	margin-bottom:90px;

}

section{
	padding-top:55px;



}
