body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size: 18px;
	line-height: 1.3em;
	width: 40em;
	margin: 0 auto;
	max-width: 100%;
	border-left: 0px solid #CCC;
	border-right: 0px solid #CCC;
	height: 100%;
	background: #F7F7F7;

}
header, section {
	padding: 1.1em;
	background: #FFF;


}

h1{
	margin-left:60px;
	font-family: 'Exo';
	font-weight:600;

}
.dateline{

	position:relative;
	background-color:;
	margin-left:40px;
	font-family: 'Exo';
	font-size:29px;
	font-weight:200;
	color:#FFF;
	z-index:1;
	padding-left:60%;
	padding-top:25px;
}

ul {
	list-style-type:none;
}
.nav {
	background-color:#2b282f;
	color:#FFF;
	position:absolute;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.3em;
	width: 40em;
	margin: 0 auto;
	max-width: 100%;
	border-left: 0px solid #CCC;
	border-right: 0px solid #CCC;
	height: 72px;
	font-family: 'Exo';
	font-weight:400;

}

section{
	padding-top:55px;



}
